.container {
    background-image: url("@/img/BeginngingAbout.svg");
    @include backg-img ($bp: center);
    padding: 230px 233px 185px 233px;
    display: block;  
    @include w-dvw ($h: 540px);
}

.aboutus__beginning{
    width: 70vw;
    @include flex-c ($ai:center);
    gap: 70px;
}

.beginning {
    
    &__title {
        font-size: 36px;
        font-weight: bold;
        padding-bottom: 20px;
    }

    &__descripion {
        font-size: 18px;
        padding-bottom: 30px;
        line-height: 35px;
    }
}

.logoBeginning {
    width: 415px;
    height: 366px;
}
