.container {
    background-image: url("@/img/BeginngingAbout.svg");
    @include backg-img ($bp: center);
    padding: 230px 233px 185px 233px;
    display: block;  
}

.aboutus__beginning{
    @include flex-c ($ai:center);
    gap: 70px;
}

.beginning {
    
    &__title {
        font-size: 36px;
        font-weight: bold;
        padding-bottom: 20px;
    }

    &__descripion {
        font-size: 18px;
        width: 525px;
        padding-bottom: 30px;
        line-height: 35px;
    }

    &__detailed {
        background: $orange;
        border-radius: 36px;
        color: white;
        width: 158px;
        height: 50px;
        font-size: 16px;
        @include flex-c ($ai: center);
        gap: 10px;

        //что?
        :hover {
            background: $black-orange;
        }
    }
}

.logoBeginning {
    width: 415px;
    height: 366px;
}

.detailed {
    transform: rotate(90deg);
}