.modal{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rqba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 5;
    @include flex-c ($ai: center);

    &__content{
        margin: auto;
        background: $dark-grey;
        border-radius: 25px;
        max-width: 870px;
        max-height: 1020px;
    }
}