.my__button {
    position: absolute;
    z-index: 4;
    background: $orange;
    border-radius: 36px;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    @include flex-c ($ai: center);
    gap: 10px;
    border: none;

    &:hover {
        background: $black-orange;
    }
}

