.container__recomendation {
    background-image: url("@/img/Joker.svg");
    @include backg-img ($bp: center);
    padding: 240px 50px 210px 50px;
    display: block;
}

.recomendation {
    width: 100%;
    max-width: 1340px;
    padding-left: 180px;
    margin: 0 auto;
    &__postscript {
        color: $grey;
        padding-bottom: 25px;
    }

    &__title {
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 15px;
    }

    &__descripion {
        font-size: 18px;
        width: 450px;
        padding-bottom: 30px;
    }
}