.recomendations {
    &__slide {
        display: flex;
        width: 100dvw;
        height: 740px;
    }

    &__controls {
        position: absolute;
        z-index: 4;
        top: 400px;
        left: 0;
        right: 0;
        padding-right: 70px;
        @include flex-b ($ai: center);
        overflow: hidden;
        margin: auto;
    }
}

.prevArrow{
    padding-right: 70px;
    transform: rotateY(180deg);
}


.slide {
    position: relative;

    ::after{
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 17.88%, rgba(0, 0, 0, 0) 84.5%, rgba(0, 0, 0, 0.3) 99.56%), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 17.88%, rgba(0, 0, 0, 0) 75.4%, rgba(0, 0, 0, 0.4) 99.56%);
    }
}

.recomendation__img {
    display: flex;
    width: 100dvw;
    height: 740px;
    object-fit: cover;
    opacity: 0.6;
}


.container__recomendation {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


.recomendation {
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 340px 50px 210px 180px;

    &__postscript {
        color: $grey;
        padding-bottom: 25px;
    }

    &__title {
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 15px;
    }

    &__descripion {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 18px;
        line-height: 25px;
        width: 450px;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
}