.footer {
    @include flex-c ($ai: center);
    background: $dark-grey;
    height: 287px;
    padding: 50px 150px 50px 250px;
    margin-top: 50px;

    &__container {
        @include flex-b ($ai: center);
        gap: 100px;
        width: 50vw;
        width: 1045px;
    }

  &::after {
    background: rgba(248, 145, 113, 0.19);
    left: 105px;
    box-shadow: 1px 2px 100px 100px rgba(248, 145, 113, 0.2);
    border-radius: 600px;
    width: 68px;
    height: 44px;
    content: '';
    position: absolute;
  }

  &::before {
    background: rgba(248, 145, 113, 0.19);
    bottom: 180px;
    border-radius: 600px;
    box-shadow: 1px 2px 100px 100px rgba(248, 145, 113, 0.2);
    width: 68px;
    height: 44px;
    left: 300px;
    content: '';
    position: absolute;
  }
}

.footer .nav__items {
    color: white;
    line-height: 30px;
}

.footer__link {
    width: 90px;
    font-size: 16px;

    &__title {
        padding-bottom: 15px;
        font-weight: 700;
        font-size: 18px;
    }
}