.footer{
    @include flex-b ($ai:center);
    background: #1A1A1A;
    height: 287px;
    gap: 100px;
    padding: 50px 150px 50px 250px;
    
}
.footer .nav__items{
    color:white;
    line-height: 30px;
}
.footer__link{
    width: 50px;
    font-size: 16px;

    &__title{
        padding-bottom: 15px;
        font-weight: 700;
        font-size: 18px;
    }
}