@import './reset.scss';
@import './variables.scss';
@import './mixins.scss';

@import './header.scss';

@import './footer.scss';

@import './ui/assistance.scss';
@import './ui/support.scss';
@import './ui/sotialnetwork.scss';

@import './ui/mybutton.scss';
@import './ui/arrowslider.scss';
@import './ui/shedulebutton.scss';

@import './ui/recomendation.scss';

@import './switchfiltering.scss';

@import './ui/filteringquests.scss';

@import './ui/aboutusbeginning.scss';

@import './infoaboutus.scss';

@import './proposalabout.scss';

@import './map-components.scss';

@import './ui/quests.scss';

@import './reviews-company.scss';

@import './questpage/demonstration.scss';
@import './questpage/specifications.scss';
@import './questpage/legendquest.scss';
@import './questpage/sheduleguest.scss';

.wrapper {
  width: 100dvw;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: Montserrat, sans-serif;
  color: white;
  font-weight: normal;
  overflow-x: hidden;
  position: absolute;

  &::after {
    background: rgba(113, 136, 248, 0.19);
    top: 1055px;
    box-shadow: 1px 2px 150px 150px rgba(113, 136, 248, 0.2);
    border-radius: 600px;
    width: 290px;
    height: 290px;
    content: '';
    position: absolute;
    z-index: -1;
  }

  &::before {
    background: rgba(113, 136, 248, 0.18);
    top: 1875px;
    border-radius: 600px;
    box-shadow: 1px 2px 250px 150px rgba(113, 136, 248, 0.2);
    width: 790px;
    height: 925px;
    left: 1025px;
    content: '';
    position: absolute;
    z-index: -1;
  }

}

.app {
  position: relative;
  height: 100dvh;
  display: flex;
  justify-content: center;
}

.main{
  max-width: 100dvw;
  overflow-x: hidden;
}