@import './reset.scss';
@import './variables.scss';
@import './mixins.scss';

@import './header.scss';

@import './footer.scss';

@import './ui/assistance.scss';
@import './ui/support.scss';
@import './ui/sotialnetwork.scss';

@import './ui/mybutton.scss';

@import './ui/recomendation.scss';

@import './ui/filteringquests.scss';

@import './ui/aboutusbeginning.scss';

@import './aboutus.scss';

@import './proposalabout.scss';

.wrapper{
    height: 100dvh;
    width: 100dvw;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
#app {
  font-family: Montserrat, sans-serif;
  color: white;
  background: #000000;
  font-weight: normal;
}