.header-ui {
    position: relative;
    @include flex-b ($ai:center);
    width: 100dvw;
}

.header {
    width: 100dvw;
    height: 45px;
    margin-top: 85px;
    padding: 0 70px;
    @include flex-b ($ai: center);
    position: absolute;
    z-index: 4;
}

.img {
    width: 100%;
}

.number {
    font-weight: 600;

    &__link {
        color: $orange;
    }

    :hover {
        color: $black-orange;
    }
}

.header .navbar {
    display: flex;
    gap: 40px;
    width: 25%;
}

.header .navbar .nav__items__activ{
    font-weight: 700;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
    color: $black-orange;
}

.navbar :hover {
    font-weight: 700;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
    color: $black-orange;
}