@mixin flex-b ($ai: center) {
    display: flex;
    align-items: $ai;
    justify-content: space-between;
}

@mixin flex-c ($ai: center) {
    display: flex;
    align-items: $ai;
    justify-content: center;
}

@mixin backg-img ($bp: center) {
    background-repeat: no-repeat;
    background-size: cover;
    height: 740px;
    font-size: 16px;
}

@mixin grid-b ($ai: start) {
    display: grid;
    align-items: $ai;
    justify-content: center;
}

@mixin back-col ($bc: text) {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}