.legend{
    @include w-dvw ($h: 400px);
    font-size: 24px;
    margin-bottom: 100px;

    &__item{
        width: 80vw;
        @include flex-c ($ai: flex-start);
        gap: 70px;

        &__history{

            &__title{
                font-size: 30px;
                margin-bottom: 45px;
                font-weight: 700;
            }   
    
            &__description{
                font-size: 20px;
                line-height: 25px;
            }
        }

        &__atmosphere{

            &__title{
                font-size: 30px;
                margin-bottom: 35px;
                font-weight: 700;
                display: flex;
                justify-content: center;
            }   

            &__focus{
                animation: legend__item__focus 1s infinite alternate;
                border-radius: 25px;
            }
        }     
    }
}

@keyframes legend__item__focus {
    0% {
        background:
            linear-gradient(#000 0 0) padding-box,
            linear-gradient(90deg, #3e5bce 0%, #ff1900 100%);
        border: 3px solid transparent;
    }
    40%{
        background:
            linear-gradient(#000 0 0) padding-box,
            linear-gradient(315deg, #465ec0 0%, rgba(247, 35, 13, 0.8) 100%);
        border: 3px solid transparent;
    }
    80%{
        background:
            linear-gradient(#000 0 0) padding-box,
            linear-gradient(135deg, #465ec0 0%, rgba(214, 46, 47, 0.84) 45.9%, rgba(247, 35, 13, 0.8) 100%);
        border: 3px solid transparent;
    }
    100% {
        background:
            linear-gradient(#000 0 0) padding-box,
            linear-gradient(135deg, #465ec0 0%, rgba(81, 90, 181, 0.99) 67.9%, rgba(247, 35, 13, 0.8) 100%);
        border: 3px solid transparent;
    }
}